.user-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.user-info-avatar {
  width: 150px; /* маленькая аватарка */
  height: 150px;
}

.user-info-details .user-info-owner-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
