.user-info-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-avatar {
  width: 50px; /* маленькая аватарка */
  height: 50px;
  flex-shrink: 0;
}

.user-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* круглая аватарка */
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
